header{
	background-color: #F0F8FF;
}
body{
	background-color: #DCDCDC;
}

h1{
	text-align: center;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
	background: blue;
	padding: 10px 25px;
	margin-left: 50px;
	position: relative;
	left: 566px;
}

nav ul li a{
	color: white;

}

img{
	float:left;
	margin-right: 20px;


}
p{
	font-size: 25px;
	margin-bottom: 50px;
}


section .p1{
	padding-top:30px;
	text-align: center;
}